<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test thread-count="5" name="Test">
    <classes>
		<class name="Setup_DockerGrid"></class>
      <class name="dockertests.ChromeTest1"/>
      <class name="dockertests.ChromeTest2"/>
      <class name="dockertests.EdgeTest"/>
      <class name="dockertests.FirefoxTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
